*,
*::before,
*::after {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Design */
body {
    background: grey;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
  }

nav {
  display: flex;
  background-color: #575D63;
  box-shadow: 0 7px 15px white;
  justify-content: space-around;
  /* padding: 20px 0; */
  align-items: center;
  height: 100px;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

nav li a:hover {
  background-color: white;
  color: rgba(255, 0, 0, 0.765);
  border-radius: 8px;
  padding: 4px;
  transition: all .3s ease-in-out;
}

nav .garuda {
  letter-spacing: 3px;
}

nav .garuda img {
  width: 60px;
  height: 60px;
}

.divider {
  margin: 4px;
  width: 100%;
  height: 4px;
  background: #eaeaea;
}

.wrapper {
  color: #222;
  background-color: #eaeaea;
  box-shadow: 6px 6px 3px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 3px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 3px 3px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.wrapper>h3 {
  font-size: 2.5em;
  font-weight: 800;
}

.wrapper>p {
  font-size: 1.5em;
  font-weight: 400;
  word-wrap: break-word;
}

blockquote {
  font-family: 'Fira Sans', 'sans-serif';
  margin-bottom: 10px;
}

.detail {
  margin-top: 14px;
  padding-left: 20px;
  letter-spacing: 1.5px;
  word-wrap: break-word;
  word-spacing: normal;
}

h2,
h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: .5em;
}

/* Sejarah */
.recent-work {
  display: flex;
  padding: 30px;
  background-color: black;
}

.recent-work .pic {
  flex-shrink: 0;
  flex-basis: 40%
}

.pic img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recent-work p {
  color: white;
  display: inline;
}

.desc {
  margin-left: 40px;
}

.recent-work h1 {
  margin: 0;
  margin-bottom: 20px;
  color: white;
}

/* proklamasi */
.audio {
  display: none;
}

.kertas {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 26px auto 0;
  max-width: 550px;
  min-height: 300px;
  padding: 24px;
  position: relative;
  width: 80%;
  font-family: 'Dr Sugiyama', cursive;
  font-size: 18px;
}
.text-right {
    text-align: right;
    position: relative;
}
 
.kertas:before,
.kertas:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
 
.kertas:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
 
.kertas:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

/* Foto Pahlawan */

.main{
  max-width: 1200px;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.main a {
  text-decoration: none;
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

/* Responsive */
@media only screen and (max-width: 720px) {
  body {
    background-color: white;
  }
  nav {
    position: relative;
    height: 190px;
    background-color: black;
  }

  nav ul {
    flex-direction: column;
    width: 200px;
  }
}

@media only screen and (max-width: 838px) {
  body {
    background-color: white;
  }
  nav {
    position: relative;
    height: 190px;
    background-color: black;
  }

  nav ul {
    flex-direction: column;
    width: 200px;
  }
}

@media (max-width: 900px) {
  .recent-work {
    flex-direction: column;
  }
  .desc {
    margin-left: 0;
  }
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

